* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
  /* font-size: 16px; */
}

#container {
  width: 90%;
  /* height: 100vh; */
  border: 2px solid purple;
  margin: 20px auto;
}

#heading {
  width: 100%;
  height: 100px;
  background-color: darkcyan;
  text-align: center;
}

#heading ul {
  /* display: flex; */
  margin-top: 25px;
}

#heading li {
  display: inline-block;
  list-style-type: none;
  padding: 0px 5px 10px 5px;
  font-size: 0.9rem;
}

#heading a {
  background-color: darkgoldenrod;
  padding: 5px;
}

#main {
  display: flex;
  background-color: gold;
}

aside {
  width: 20%;
  height: 400px;
  background-color: darkturquoise;
}

#section {
  width: 60%;
  height: 400px;
  background-color: rgb(152, 231, 231);
}

#footer {
  width: 100%;
  height: 100px;
  background-color: darkgray;
}
