#line3,
#line4,
#uid207410290 {
  display: flex;
  flex-wrap: wrap;
}

#line3 img {
  width: 30%;
  margin: 1.66%;
}

#line4 img {
  width: 22%;
  margin: 1.5%;
}

#uid207410290 img {
  width: 18%;
  margin: 1%;
}

p {
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 23px;
  font-weight: 300;
  border-bottom: 2px solid #1b6a8f;
  color: #1b6a8f;
  width: 145px;
  margin: 1.66%;
}
